<div class="row">
  <div class="span6 offset3">
    <h3>Editing Reservation</h3><hr/>

    <%= render 'form' %>

    <%= link_to 'Show', @reservation %> |
    <%= link_to 'Back', admin_reservations_path %>
  </div>
</div>
