<h3>Listing Jobs</h3><hr/>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Character</th>
      <th>Status</th>
      <th>Progress</th>
    </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
    <%= render 'job', :job => job %>
  <% end %>
  </tbody>
</table>
