<h3>Industry Jobs</h3>
<span>Next update: <%= @next_update.to_formatted_s(:long) %></span>
<hr/>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Character</th>
      <th>Status</th>
      <th>Progress</th>
    </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
    <%= render 'job', :job => job %>
  <% end %>
  </tbody>
</table>
