<div class="row">     
  <div class="span12 center"> 
    <h1>We Sell Capital Ships</h1>
  </div>
</div>
<div class="row">     
  <div class="span12 center"> 
    <span>Koprulu Sector Corporation -</span> <span class="dollar-amount-sold"><%= number_to_currency(Run.dollar_amount_sold) %> sold</span>
  </div>
</div>
<div class="row">
  <div class="span5 offset1">
    <h3 class="center">How it works</h3>
    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="span5">
    <h3 class="center">What do I get?</h3>
    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<hr/>
<div class="home-ship row">
  <div class="span12">
    <h3 class="center">Current Production</h3>
  </div>
</div>
<%= render :partial => "home/run", :collection => @ships || 'There are no ships currently in production.' %>
