<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Character ID:</b>
  <%= @character.characterid %>
</p>

<p>
  <b>Admin:</b>
  <%= @character.admin? ? 'Yes' : 'No' %>
</p>

<%= link_to 'Back', :back %>
