@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after{
        clear:both;
    }
}

h3 {
  margin-bottom: 0px;
}

hr {
  margin-top: 0px;
}

.btn-mini {
  margin-bottom: 4px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $grayDarker;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  .footer_copyright a {
    color: $grayLight;
    &:hover {
      text-decoration: none;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.error-base {
  color: #B94A48;
  padding-left: 0px;
  margin-bottom: 10px;
}

#finish-time-hint {
  margin-bottom: 20px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* tables */

.table td, .table th {
  padding: 0 6px;
}

.btn-toolbar {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* notifications */

#notifications .row {
  margin-bottom: 25px;
}

.note-title {
  margin-bottom: 4px;
}

.note-text {
  padding: 5px 10px;
  border-radius: 6px;
}

.note-text-unread {
  background-color: #EEF9FF;
}

/* sign in/up */

.registered_name {
  color: $red;
  font-weight: 600;
}

.registration_character {
  margin: 20px 0;
}

.registration_character_name {
  font-size: 20px;
  margin-left: 5px;
}

/* home text */

.intro-text {
  color: #777;
  text-align: justify;
}

/* home ships */

.home-ship {
  margin-bottom: 10px;
}

h3.media-heading, h4.media-heading {
  display: inline;
}

.ship-light-text {
  color:  #999999;
}

.run-status-indicator {
  width: 8px;
  height: 64px;
}

.pull-left.run-status-indicator {
  margin-right: 6px;
}

.ship-eta {
  display: inline;
}

.ship-reserve-button {
  margin-top: 5px;
}

.admin-link-run-title {
  color: #000;
}

.home-time-strong {
  text-decoration: underline;
}

/* reservations */

.reserved-ago-container {
  margin-bottom: 9px;
}

.reserved-ago {
  padding-bottom: 3px;
}

.reservation-finishes {
  margin-top: 30px;
}

.notifications-title-inline {
  display: inline;
}

.dismiss-all-button {
  margin-left: 12px;
  margin-bottom: 6px;
}


/* runs */

#edit-multiple-run-list {
  list-style: none;
  margin-left: 0;
}