@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after{
        clear:both;
    }
}

h3 {
  margin-bottom: 0px;
}

hr {
  margin-top: 0px;
}

.btn-mini {
  margin-bottom: 4px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $grayDarker;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  .footer_copyright a {
    color: $grayLight;
    &:hover {
      text-decoration: none;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.error-base {
  color: #B94A48;
  padding-left: 0px;
  margin-bottom: 10px;
}

#finish-time-hint {
  margin-bottom: 20px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* tables */

.table td, .table th {
  padding: 0 6px;
}

.btn-toolbar {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* notifications */

#notifications .row {
  margin-bottom: 15px;
}

.note-text {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

.note-title {
  background-color: #CACACA;
  background-image: linear-gradient(to bottom, #EFEFEF, #CACACA);
  background-repeat: repeat-x;
  border-bottom: 1px solid #B4B4B4;
  border-radius: 5px 5px 0px 0px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "freesans";
  height: 31px;
}

.note-text.note-text-unread {
  border: 1px solid #B94A48;
}

.note-text.note-text-unread h5, .note-text.note-text-unread span {
  color: #fff;
}

.note-text-unread .note-title {
  background-color: #B94A48;
  background-image: linear-gradient(to bottom, #D15755, #B94A48);
  background-repeat: repeat-x;
  border-bottom: 1px solid #B94A48;
}

.note-title h5 {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  padding: 5px 5px 5px 10px;
  display: inline-block;
}

.note-time {
  font-size: 12px;
}

.message_body {
  background-color: #F1F1F1;
  border-bottom-color: #DDDDDD;
  border-bottom: medium none currentColor;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
}

.message_body p {
  margin: 0px;
  padding: 0px;
}

.changes-list {
  margin: 0px;
  list-style: none;
}

.note-dismiss {
  display: inline;
  float: right;
  font-size: 12px;
  margin: 3px;
}

/* reservation comments */

.reservation-comment {
  margin-bottom: 20px;
}

.reservation-comment .media .pull-left {
  margin-right: 6px;
}

.res-comment-container-outer {
  margin-left: 10px;
  position: relative;
  background: #EEEEEE;
  border-radius: 3px;
  padding: 3px;
}

.res-comment-container {
  background-color: #FFFFFF;
  border: 1px solid #CACACA;
  min-height: 60px;
}

.res-comment-container-outer::before {
  border-bottom: 10px solid rgba(238, 238, 238, 0);
  border-left: 0px solid rgba(238, 238, 238, 0);
  border-right: 10px solid #EEEEEE;
  border-top: 10px solid rgba(238, 238, 238, 0);
  content: "";
  display: block;
  height: 0px;
  left: -10px;
  position: absolute;
  top: 15px;
  width: 0px;
}

.res-comment-header {
  background-color: #E1E1E1;
  background-image: linear-gradient(to bottom, #F8F8F8, #E1E1E1);
  background-repeat: repeat-x;
  border-bottom: 1px solid #CCCCCC;
  font-size: 12px;
  height: 33px;
  padding: 0px 10px 0px 6px;
}

.res-comment-header-author {
  color: #222222;
  font-weight: 700;
  line-height: 33px;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.702);
  white-space: nowrap;
}

.res-comment-content {
  box-sizing: border-box;
  font-size: 13px;
  overflow: auto;
  padding: 10px;
  width: 100%;
}

.res-comment-header-right {
  float: right;
}

.res-comment-header-datetime {
  color: #777777;
  font-size: 11px;
  font-style: normal;
  line-height: 33px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.702);
}

.res-comment-content p:last-child {
  margin: 0px
}

#new_reservation_comment .controls {
  padding: 3px;
}

#reservation_comment_body {
  margin-bottom: 0px;
}

.new-res-comment-form form {
  margin-bottom: 0px;
}

.new-res-comment-form .control-group {
  margin-bottom: 0px;
}

#new-res-comment-button {
  margin-top: 5px;
}

/* pagination */

.pagination {
  margin: 20px 0px;
  text-align: center;
}

.pagination ul > li > a {
  line-height: 16px;
  padding: 4px 7px;
}

/* sign in/up */

.registered_name {
  color: $red;
  font-weight: 600;
}

.registration_character {
  margin: 20px 0;
}

.registration_character_name {
  font-size: 20px;
  margin-left: 5px;
}

/* home text */

.intro-text {
  color: #777;
  text-align: justify;
}

/* home ships */

.home-ship {
  margin-bottom: 10px;
}

h3.media-heading, h4.media-heading {
  display: inline;
}

.ship-light-text {
  color:  #999999;
}

.run-status-indicator {
  width: 8px;
  height: 64px;
}

.pull-left.run-status-indicator {
  margin-right: 6px;
}

.ship-eta {
  display: inline;
}

.ship-reserve-button {
  margin-top: 5px;
}

.admin-link-run-title {
  color: #000;
}

.home-time-strong {
  text-decoration: underline;
}

/* reservations */

.reserved-ago-container {
  margin-bottom: 9px;
}

.reserved-ago {
  padding-bottom: 3px;
}

.reservation-finishes {
  margin-top: 30px;
}

.notifications-title-inline {
  display: inline;
}

.dismiss-all-button {
  margin-left: 12px;
  margin-bottom: 6px;
}


/* runs */

#edit-multiple-run-list {
  list-style: none;
  margin-left: 0;
}
