// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table .progress {
  margin-bottom: 0px;
}

.table .job-row td{
  vertical-align:middle;
}

.job-progress {
  width: 100px;
}

.job-row .ready {
  color: #62C462;
}

.job-row .in-progress {
  color: #E28709;
}

.table .job-row td {
  height: 32px;
}
