<footer class="footer">
  <small class="footer_copyright">
    &#169; 2013 by Eebs Kobeissi
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Github', "https://github.com/eebs", :target => '_blank' %></li>
      <li><%= link_to 'Twitter', "https://twitter.com/EebsKobeissi", :target => '_blank' %></li>
    </ul>
  </nav>
</footer>
