<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Koprulu Sector", '/', id: "logo" %>
      <nav>
        <% if !(user_signed_in? || character_signed_in?) %>
          <%= render "layouts/unauthenticated_header" %>
        <% elsif user_signed_in? %>
          <%= render "layouts/user_header" %>
        <% elsif character_signed_in? %>
          <%= render "layouts/character_header" %>
        <% end %>
      </nav>
    </div>
  </div>
</header>