<%= render "layouts/character_header_login" %>
<ul class="nav pull-right">
  <li class="divider-vertical"></li>
</ul>
<ul class="nav pull-right">
  <li class="<%= is_active?("home") %>"><%= link_to "Home", root_path %></li>
</ul>